@import url('https://at.alicdn.com/t/font_99l4h4lxbc5wmi.css');

a {
  text-decoration: none;
}

html,body {
  height:100%;
  min-height: 100%;
}

.iconfont {
  font-size: 30px;
}

html,body,ul,li {
  padding:0;
  margin:0;
}
ul,li {
  list-style: none;
}


li {
  padding:10px;
}

.content {
  height: 100%;
  padding: 55px 0 80px 0;
  font-size: 22px;
}
